How do we test our DNS credentials are still valid?

It is currently not know how we can test the DNS failover mechanism, without trying to use it (i.e. Is it possible to validate that our credentials are still valid without attempting a change in the DNS entry). 

Even changing the TTL of the DNS entry seems to delete and then add the entry.

Granted, according to RFC2136 section 3.3.2 and 3.4.2.1 - the change is atomic. So maybe deleting and adding the entry is an acceptable test.